@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 17% 96%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 201 39% 61%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 224 71% 4%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 9% 46%;
    --accent: 261 100% 86%;
    --accent-foreground: 261 47% 27%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 89%;
    --input: 220 13% 94%;
    --ring: 201 39% 61%;
    --chart-1: 201 39% 61%;
    --chart-2: 261 100% 86%;
    --chart-3: 220 13% 70%;
    --chart-4: 201 39% 71%;
    --chart-5: 261 100% 90%;
    --radius: 0.5rem;
    --sidebar-background: 240 17% 98%;
    --sidebar-foreground: 224 71% 4%;
    --sidebar-primary: 201 39% 61%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 261 100% 92%;
    --sidebar-accent-foreground: 261 47% 27%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 201 39% 61%;
  }
  .dark {
    --background: 224 71% 4%;
    --foreground: 210 20% 98%;
    --card: 224 71% 4%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 20% 98%;
    --primary: 201 39% 61%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 215 21% 65%;
    --accent: 261 60% 70%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 201 39% 61%;
    --chart-1: 201 39% 61%;
    --chart-2: 261 60% 70%;
    --chart-3: 215 28% 37%;
    --chart-4: 201 39% 51%;
    --chart-5: 261 60% 80%;
    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 201 39% 61%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 215 28% 17%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 215 28% 17%;
    --sidebar-ring: 201 39% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
